if SHIELD_X6_MANUFORM_LEFT

config ZMK_KEYBOARD_NAME
    default "4x6_manuform"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_X6_MANUFORM_LEFT

if SHIELD_X6_MANUFORM_LEFT || SHIELD_X6_MANUFORM_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_X6_MANUFORM_LEFT || SHIELD_X6_MANUFORM_RIGHT
